[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
python-decouple = "*"
pyjwt = "*"
mangum = "*"
requests = "*"
python-multipart = "*"
boto3 = "*"
fpdf = "==1.7.2"
fpdf2 = "==2.7.3"

[dev-packages]

[requires]
python_version = "3.10"
